body {
  background-color: #e6ffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1{
  color: #cc0044;
  text-align: center;
  width: 100%;
  display: block;
}

.assign {
  background-color: #e0e0eb;
  margin: 10px;
  padding: 10px;
  display: [block];
  width: 20%;
  box-shadow: 8px 8px [#194D33];
  border radius: 20px;
  
}
.assign img {
  width: 200px;
  padding: 10px;
  border: 2px dotted #FAEBD7;
}
a{
  text-decoration: none;
  color: #FAEBD7;
}
  
